<?xml version="1.0" encoding="UTF-8"?>

<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- dao层实现 -->
	<bean id="userDao" class="zzvcom.sys.dao.impl.UserDaoImpl"></bean>
	<bean id="basicinfoDAO" class="zzvcom.sys.dao.impl.BasicinfoDAOImpl"></bean>
	<!-- 服务层实现 -->
	<bean id="userService" class="zzvcom.sys.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
		<property name="basicinfoDAO" ref="basicinfoDAO"></property>
	</bean>

</beans>